# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.env
.venv/
env/
venv/
ENV/
backend/venv/

# Node
node_modules/
dist/
dist-ssr/
*.local

# macOS
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor
.idea
.vscode
*.swp

# ML Model
backend/app/ml_model/
